@import url(./normalize.css);

body {
   height: calc(100vh - var(--vh-offset, 0px));
   font-family: 'Manrope', sans-serif;
   min-height: max(calc(100vh - var(--vh-offset, 0px)), 620px);
   background: url(../images/blob-bg.svg) no-repeat;
   background-size: cover;
}

a {
   font-weight: bold;
   text-decoration: none;
   white-space: nowrap;
}

h1 {
   margin: 0 0 0.5rem;
}

main {
   max-width: 1000px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

label {
   margin-right: 0.5rem;
   font-size: 1.25rem;
   color: #a1a1a1;
}

input {
   font-family: 'Jaldi', sans-serif;
   border: none;
   background-color: transparent;
   border-bottom: 1px solid #a1a1a1;
   padding: max(0.5rem, 1.35vh) 0.25rem;
   width: 100%;
   margin: 0.25rem 0.4rem;
}

input:focus {
   outline: none;
}

button {
   padding: 0.75rem 1.75rem;
   display: block;
   width: 100%;
   color: white;
   font-weight: bold;
   background: #0020ad;
   border: none;
   border-radius: 6px;
   font-family: 'Manrope', sans-serif;
   margin: 1.25rem 0 1rem;
}

.form-container {
   position: relative;
   top: -2rem;
   padding: 0 1.75rem;
}

.form-inputs {
   margin-bottom: 0.5rem;
}

.input-group {
   display: flex;
   align-items: center;
   font-size: 1.1rem;
}

.lock {
   width: 1.25rem;
}

.legal {
   font-size: 0.675rem;
}

.login-text {
   display: block;
   text-align: center;
}

.vector {
   max-width: 100%;
   width: 100%;
   max-height: 45vh;
   min-height: 300px;
   object-fit: cover;
}
